[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Eduardo Jose Flores III
	email = 61069122+wardoflores@users.noreply.github.com
